@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --background-clr: #fffaf3;
  --primary-clr: #2f7d4f;
  --secondary-clr: #1c752c;
  --accent-clr: #f59e0b;
  --text-clr: #56585d;
  --text-dark-clr: #1f2933;
  --card-clr: #fff;
  --border-clr: #aaaeb8;
  --border-clr-light: #e9e8d9;
}
body {
  background-color: var(--background-clr);
}

.material-symbols-outlined {
  line-height: 1px;
  vertical-align: middle;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--background-clr);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  padding: 1.5rem 0;
}

.logo a {
  text-decoration: none;
  color: var(--primary-clr);
  font-weight: 600;
}
.logo > a > .logo-icon {
  font-size: 2.5rem;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.navbar-menu-toggle {
  display: none;
  background-color: transparent;
  margin-right: 0.5rem;
  padding: 10px;
  cursor: pointer;
}
.navbar-menu-toggle .bar {
  display: block;
  background-color: var(--secondary-clr);
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}
.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.navbar-links .navbar-buttons {
  display: none;
}
.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}
.navbar-list li a {
  text-decoration: none;
  color: var(--text-clr);
  font-weight: 500;
  transition: 0.3s;
}
.navbar-list li a:hover {
  color: var(--primary-clr);
}
.navbar-buttons button {
  font-size: 1rem;
  color: var(--text-clr);
  font-weight: 500;
  cursor: pointer;
}
.navbar-buttons button:first-child {
  border: none;
  background: none;
  padding-right: 1rem;
  transition: 0.3s;
}
.navbar-buttons button:first-child:hover {
  color: var(--primary-clr);
}
.navbar-buttons button:last-child {
  color: #fff;
}
.get-started-btn {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  background: var(--secondary-clr);
  transition: 0.3s;
}
.get-started-btn:hover {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
/*Navbar styling */

/* Hero styling */
.hero-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.8fr 1fr;
  padding: 1.5rem 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
}
.hero-left-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}
.hero-title {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: left;
  color: var(--text-dark-clr);
  line-height: 1.15;
  max-width: 14ch;
}
.hero-secondary-text {
  color: var(--text-clr);
  font-weight: 500;
  font-size: 1.3rem;
  max-width: 35ch;
}
.hero-buttons button span {
  color: var(--secondary-clr);
  font-size: 1.6rem;
  transition: 0.3s;
}
.hero-buttons button:hover span {
  color: #fff;
}
.hero-btn {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  color: #fff;
  padding: 0.8rem 2rem;
}
.watch-demo-btn {
  margin-left: 1rem;
  color: var(--text-dark-clr);
  border-radius: 8px;
  background: none;
  border: 2px solid var(--border-clr);
  transition: 0.3s all;
  padding: 0.7rem 1.5rem;
}
.watch-demo-btn:hover {
  border-color: transparent;
  color: #fff;
  background-color: var(--secondary-clr);
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.hero-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  list-style-type: none;
  color: var(--text-clr);
  font-weight: 500;
  font-size: 1.3rem;
}
.hero-list li span {
  color: var(--secondary-clr);
  font-size: 1.5rem;
}
.check-circle {
  font-variation-settings: "FILL" 1;
}

.meal-planner {
  background-color: var(--card-clr);
  padding: 15px;
  border-radius: 8px;
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}

.meal-planner > p {
  font-size: 1.2rem;
  color: var(--text-dark-clr);
  margin-bottom: 1rem;
}
.meal-planner-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-clr);
  margin-bottom: 0.5rem;
  gap: 5px;
}
.meal-planner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-clr-light);
  border-radius: 8px;
  width: 100%;
}
.meal-planner-container span {
  padding-left: 1rem;
}
.meal-planner-header span {
  font-size: 0.8rem;
  border-right: 1px solid var(--border-clr-light);
  border-radius: 8px;
  cursor: pointer;
}
.meal-planner-header span:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.arrow {
  padding: 15px 10px;
}
.calendar {
  border: 1px solid var(--border-clr-light);
}
.meal-planner-header > span {
  padding: 15px;
}
.meal-planner-header p {
  color: var(--text-dark-clr);
  font-size: 1rem;
  font-weight: 600;
}
.meal-planner-header div span:last-child {
  rotate: 180deg;
  padding-left: 1rem;
}
.meal-planner-header div span:last-child:hover {
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.2);
}
.meal-planner-grid {
  display: grid;
  grid-template-columns: 70px repeat(7, 1fr);
  grid-template-rows: auto repeat(4, 1fr);
  text-align: center;
  gap: 8px;
  font-size: 0.8rem;
  width: 100%;
}
.meal-planner-day {
  color: var(--text-dark-clr);
  margin: 0.5rem 0;
}
.meal-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid var(--border-clr-light);
  border-radius: 8px;
  padding: 5px;
  color: var(--text-dark-clr);
  font-size: 0.6rem;
  width: 100%;
  min-height: 85px;
  font-weight: 600;
}
.meal-card-img {
  width: 50px;
  height: 42px;
  object-fit: contain;
}
.meal-type {
  display: flex;
  margin: 1rem 0;
  color: var(--text-clr);
}
.meal-planner-bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7rem;
  color: var(--text-dark-clr);
  font-size: 0.7rem;
}
.meal-planner-bottom-container span {
  color: var(--primary-clr);
  font-size: 1.2rem;
}
.meal-planner-bottom-container div button {
  cursor: pointer;
  color: #fff;
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--secondary-clr);
  transition: 0.3s;
}
.meal-planner-bottom-container div button span {
  color: #fff;
}
.meal-planner-bottom-container div button:hover {
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.meal-planner-bottom-container > div {
  color: var(--text-dark-clr);
}
/* Hero styling */

/* Features styling */
.features-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-dark-clr);
}
.features-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
}
.features-card {
  display: flex;
  gap: 1rem;
  border: 1px solid var(--border-clr-light);
  border-radius: 8px;
  background-color: var(--card-clr);
  padding: 25px;
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.1);
}
.features-card-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.features-card-title {
  color: var(--text-dark-clr);
  font-weight: 600;
}
.features-card-secondary-text {
  color: var(--text-clr);
  font-weight: 500;
  font-size: 0.9rem;
  max-width: 27ch;
}
.features-card span {
  font-size: 3.5rem;
}
.features-calendar,
.features-recipe-library {
  color: var(--secondary-clr);
}
.features-shopping-card {
  color: var(--accent-clr);
}
/* Features styling */

/* How it works styling */
.hiw-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-dark-clr);
}
.hiw-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.hiw-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}
.hiw-card span:nth-child(2) {
  font-size: 3.5rem;
}
.hiw-container .hiw-card:first-child span:nth-child(2),
.hiw-container .hiw-card:last-child span:nth-child(2) {
  color: var(--primary-clr);
  background-color: rgba(56, 187, 56, 0.118);
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgba(56, 187, 56, 0.118);
}
.hiw-grocery {
  color: var(--accent-clr);
  background-color: rgba(240, 161, 35, 0.118);
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgba(240, 161, 35, 0.118);
}
.material-symbols-outlined.hiw-counter {
  font-variation-settings: "FILL" 1;
  font-size: 2rem;
}
.hiw-counter-1,
.hiw-counter-3 {
  color: var(--primary-clr);
}
.hiw-counter-2 {
  color: var(--accent-clr);
}
.hiw-card-title {
  color: var(--text-dark-clr);
  font-weight: 600;
}
.hiw-secondary-text {
  color: var(--text-clr);
  font-weight: 500;
  font-size: 0.9rem;
  max-width: 26ch;
}
.hiw-hr {
  border-style: dashed;
  border-width: 2px;
  width: 100px;
  color: var(--border-clr-light);
  margin-bottom: 50px;
}
.material-symbols-outlined.hiw-arrow {
  font-size: 2rem;
  color: var(--border-clr-light);
  margin-left: 1px;
  margin-bottom: 50px;
}
/* How it works styling */

/* Reviews */
.reviews-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-dark-clr);
}
.reviews-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.reviews-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--text-clr);
  font-weight: 500;
  border: 1px solid var(--border-clr-light);
  border-radius: 8px;
  padding: 20px;
  background-color: var(--card-clr);
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.1);
}
.reviews-card-stars span {
  font-variation-settings: "FILL" 1;
  color: var(--accent-clr);
}
.reviews-card-text {
  max-width: 40ch;
}
.reviews-card-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.reviews-card-profile span {
  font-size: 3rem;
  font-variation-settings: "FILL" 1;
}
.account-circle-pink {
  color: rgba(255, 20, 192, 0.653);
}
.account-circle-blue {
  color: rgba(0, 0, 255, 0.616);
}
.profile-name {
  color: var(--text-dark-clr);
  font-weight: 600;
}
/* Reviews  */

/* Pricing */
.pricing-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark-clr);
}
.pricing-secondary-text {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-clr);
  font-weight: 500;
  margin-bottom: 1rem;
}
.pricing-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.pricing-container ul {
  list-style-type: none;
}
.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--card-clr);
  gap: 0.5rem;
  border: 1px solid var(--border-clr-light);
  border-radius: 8px;
  box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 22%;
}
.pricing-card > p {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-dark-clr);
}
.pricing-card > div {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
  margin-bottom: 1rem;
}
.pricing-card div p:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark-clr);
}
.pricing-card div p:last-child {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-clr);
}
.pricing-card ul {
  margin-bottom: 65px;
}
.pricing-card ul li {
  font-size: 0.9rem;
  color: var(--text-dark-clr);
  font-weight: 500;
}
.pricing-card button {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}
.free-card {
  border-top: 3px solid var(--secondary-clr);
}
.free-card ul span {
  color: var(--secondary-clr);
}
.free-card button {
  background-color: var(--secondary-clr);
}
.free-card button:hover {
  box-shadow: 0px 5px 6px rgba(1, 148, 8, 0.301);
  transform: translateY(-2px);
}
.pro-card {
  border-top: 3px solid var(--accent-clr);
}
.pro-card ul {
  margin-bottom: 1rem;
}
.pro-card ul span {
  color: var(--accent-clr);
}
.pro-card button {
  background-color: var(--accent-clr);
}
.pro-card button:hover {
  box-shadow: 0px 5px 6px rgba(229, 153, 10, 0.301);
  transform: translateY(-2px);
}
.pricing-bottom-text {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-clr);
  margin-bottom: 1rem;
}
/* Pricing */
